.stars {
  display: flex;
  height: 16px;
}

.stars__star {
  width: 16px;
  height: 16px;
  box-sizing: border-box;

  background-image: url('./images/star.fa806e3c.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
}

/* відступ тільки МІЖ зірками */
.stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars--1 .stars__star:nth-child(-n + 1),
.stars--2 .stars__star:nth-child(-n + 2),
.stars--3 .stars__star:nth-child(-n + 3),
.stars--4 .stars__star:nth-child(-n + 4),
.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: url('./images/star-active.2be54011.svg');
  background-size: 15px 15px;
}
